.carousel-item img {
    object-fit: fill;
    object-position: center;
    height: 50vh;
    overflow: hidden;
    opacity: 60%;
}

.container h1, h2, p{
    color: black;
}
.carousel-caption{
    color: black;
}
body{
    background-color: lightgray;
}

.carousel-caption{
    color: blue;
    padding-left: 3vw;
    margin-bottom: 3vh;
}
.carousel-caption h1{
    margin-bottom: 2vh;
    font-size: 3vh;
    color: black;
    outline: blue;
}
.carousel-caption p{
    font-size: 2vh;
}






